#centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.taskbox {
  display: flex;
  flex-direction: row;
}
.deletebutton {
  height: 30px;
}
.buttonwrapper {
  display: flex;
  align-items: center;
}
.checkbox {
  margin: 7px;
}
